<footer class="my-5 pt-5 text-muted text-center text-small">
	<ul class="list-inline">
		<li class="list-inline-item"><a href="/privacy">Kebijakan Privasi</a></li>
		<li class="list-inline-item"><a href="/terms">Syarat & Ketentuan Berbeda di Setiap Outlet</a></li>
	</ul>
	<p>&copy;2020 Pesantare - Sarirasa Group. Customer Service 0811-952-5522</p>
	
	<img src="/img/logo_sks.png" height="20px">
	<img src="/img/logo_sss.png" height="20px">
	<img src="/img/logo_ske.png" height="20px">
	<img src="/img/logo_tesate.png" height="20px">
	<img src="/img/logo_tekote.png" height="20px">
	<img src="/img/logo_gopek.png" height="20px">
	<img src="/img/logo_gopekhouse.png" height="20px">
	<img src="/img/logo_gopekexpress.png" height="20px">
	<img src="/img/logo_catering_2_m.png" height="20px">
	<img src="/img/logo_balenusa.png" height="20px">
	<img src="/img/logo_foodiesia.png" height="20px">
</footer>
<br><br><br><br>